<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group-vertical" role="group" aria-label="">
      <div class="btn-group" role="group">
        <button id="dropdownId" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Manage Recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Add ingredients</a>
          <a class="dropdown-item" href="#">Edit ingredients</a>
          <a class="dropdown-item" href="#">Remove ingredients</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
