<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#">Recipe</a>
            <a class="nav-item nav-link" href="#">Shopping List</a>
        </div>
        <div class="navbar-nav">
            <div class="dropdown">
                <a href="#" class="btn btn-secondary dropdown-toggle" role="button">
                    Manage
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Recipe</a>
                    <a class="dropdown-item" href="#">Shopping List</a>
                </div>
            </div>
        </div>
    </div>
</nav>